body {
	background:#F4F4F4 url(/climbingjordan.com/templates/jubilee/images/chocolate/bg.png);
	color:#211814;
    /* Added by Sebi
        18.01.2014
    */
    
    min-width: 980px;
    
    /*
    ---
    */
    
}
a {
	color:#AF312B;
}
hr {
	background:url(/climbingjordan.com/templates/jubilee/images/chocolate/module-header.png) repeat-x 0 100%;
}
blockquote {
	background:#EEE;
	border:1px solid #CCC;
	box-shadow:inset 0 0 2px #FFF;
	-moz-box-shadow:inset 0 0 2px #FFF;
	-webkit-box-shadow:inset 0 0 2px #FFF;
}
#header {
	background:url(/climbingjordan.com/templates/jubilee/images/chocolate/header.png) repeat-x 0 0;
}
#logo a {
	background:#2C201A url(/climbingjordan.com/templates/jubilee/images/chocolate/logo.png) no-repeat 50% 50%;
	border-left:1px solid #100C0A;
	border-right:1px solid #100C0A;
}
#topmenu a {
	color:#ECC160;
	text-shadow:1px 1px 1px #100C0A;
	-moz-text-shadow:1px 1px 1px #100C0A;
	-webkit-text-shadow:1px 1px 1px #100C0A;
}
#topmenu a:hover {
	color:#FFF;
}
#search {
	border: 1px solid #100C0A;
	background:#E2E0E0;
	box-shadow:inset 0 0 1px #FFF;
	-moz-box-shadow:inset 0 0 1px #FFF;
	-webkit-box-shadow:inset 0 0 1px #FFF;
}
#search .button {
	background:url(/climbingjordan.com/templates/jubilee/images/chocolate/btn-search.gif) no-repeat 0 0;
}
#mainmenu {
	background:#AF8836 url(/climbingjordan.com/templates/jubilee/images/chocolate/mainmenu.png) repeat-x 0 0;
}
#mainmenu ul li:hover,
#mainmenu ul li.active {
	background:#C9A14A url(/climbingjordan.com/templates/jubilee/images/chocolate/menu-hover.png) no-repeat 50% 100%;
}
#mainmenu ul li a {
	color:#FFF;
	text-shadow:1px 1px 1px #8F6D23;
	-moz-text-shadow:1px 1px 1px #8F6D23;
	-webkit-text-shadow:1px 1px 1px #8F6D23;
}
#mainmenu ul ul {
	background:#372922;
}
#mainmenu ul li.active li,
#mainmenu ul li.parent li:hover,
#mainmenu ul li:hover li:hover {
	background:none;
}
#banner {
	background:#ECC05D url(/climbingjordan.com/templates/jubilee/images/chocolate/banner.png);
}
#banner-inner {
	background:url(/climbingjordan.com/templates/jubilee/images/chocolate/banner-inner.png) repeat-x 0 0;
}
#banner-inner2 {
	background:url(/climbingjordan.com/templates/jubilee/images/chocolate/banner-inner2.png) repeat-x 0 100%;
	text-shadow:1px 1px 1px #F7D470;
	-moz-text-shadow:1px 1px 1px #F7D470;
	-webkit-text-shadow:1px 1px 1px #F7D470;
}
#container {
	background:url(/climbingjordan.com/templates/jubilee/images/chocolate/container.png) repeat-x 0 0;
}
#modules-1,
#modules-2 {
	background:url(/climbingjordan.com/templates/jubilee/images/chocolate/module-header.png) repeat-x 0 100%;
}
#modules-3,
#modules-4 {
	background:url(/climbingjordan.com/templates/jubilee/images/chocolate/module-header.png) repeat-x 0 0;
}
#footer {
	background:url(/climbingjordan.com/templates/jubilee/images/chocolate/module-header.png) repeat-x 0 0;
}
input[type=text], input[type=password], select, textarea{
	border: 1px solid;
	border-color: #ddd #bbb #999;
}
button, input[type="reset"], 
input[type="submit"], 
input[type="button"],
div.profile a {
	background: #ddd url(/climbingjordan.com/templates/jubilee/images/button-light.png) repeat-x;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #ddd));
	background: -moz-linear-gradient(top center, #fff 0%, #ddd 100%);
	border: 1px solid;
	border-color: #ddd #bbb #999;
	cursor: pointer;
	color: #333;
	text-shadow: #fff 0 1px 1px;
	-moz-text-shadow: #fff 0 1px 1px;
	-webkit-text-shadow: #fff 0 1px 1px;
}
button:focus, button:active, input:focus, input:active, select:focus, select:active, textarea:focus, textarea:active,
div.profile a:active {
	box-shadow: 0 0 7px #CCC;
	-moz-box-shadow: 0 0 7px #CCC;
	-webkit-box-shadow: 0 0 7px #CCC;
}
p.readmore a, .readon a,
a.readmore , a.readon{
	background: #ddd url(/climbingjordan.com/templates/jubilee/images/button-light.png) repeat-x;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #ddd));
	background: -moz-linear-gradient(top center, #fff 0%, #ddd 100%);
	border: 1px solid;
	border-color: #ddd #bbb #999;
	cursor: pointer;
	color: #333;
	text-shadow: #fff 0 1px 1px;
	-moz-text-shadow: #fff 0 1px 1px;
	-webkit-text-shadow: #fff 0 1px 1px;
}
.readmore a:active, .readon a:active,
a.readmore:active , a.readon:active{
	box-shadow: 0 0 3px #0066FF;
	-moz-box-shadow: 0 0 3px #0066FF;
	-webkit-box-shadow: 0 0 3px #0066FF;
}
.tip-wrap {
	background:#EEE;
	box-shadow:inset 0 0 2px #FFF;
	-moz-box-shadow:inset 0 0 2px #FFF;
	-webkit-box-shadow:inset 0 0 2px #FFF;
	border:1px solid #CCC;
}
span.content_rating {
	background:#EEE;
	box-shadow:inset 0 0 2px #FFF;
	-moz-box-shadow:inset 0 0 2px #FFF;
	-webkit-box-shadow:inset 0 0 2px #FFF;
	border:1px solid #CCC;
}
div.content_vote {
	background:#EEE;
	box-shadow:inset 0 0 2px #FFF;
	-moz-box-shadow:inset 0 0 2px #FFF;
	-webkit-box-shadow:inset 0 0 2px #FFF;
	border:1px solid #CCC;
}
dl.article-info {
	background:#EEE;
	box-shadow:inset 0 0 2px #FFF;
	-moz-box-shadow:inset 0 0 2px #FFF;
	-webkit-box-shadow:inset 0 0 2px #FFF;
	border:1px solid #CCC;
	
}
ul.pagenav li {
	background:#EEE;
	box-shadow:inset 0 0 2px #FFF;
	-moz-box-shadow:inset 0 0 2px #FFF;
	-webkit-box-shadow:inset 0 0 2px #FFF;
	border:1px solid #CCC;
}
div#article-index {
	border-top:1px solid #CCC;
	border-left:1px solid #CCC;
	border-right:1px solid #CCC;
}
div#article-index li {
	border-bottom:1px solid #CCC;
}
div#article-index li:hover {
	background:#F8F8F8;
}
/* Categories List */
div.categories-list li,
div.cat-children li{
	background:#EEE;
	box-shadow:inset 0 0 2px #FFF;
	-moz-box-shadow:inset 0 0 2px #FFF;
	-webkit-box-shadow:inset 0 0 2px #FFF;
	border:1px solid #CCC;
}
div.categories-list li dl,
div.cat-children li dl {
	color:#666;
}
div.categories-list li li,
div.cat-children li li {
	background:#F4F4F4;
	box-shadow:inset 0 0 2px #FFF;
	-moz-box-shadow:inset 0 0 2px #FFF;
	-webkit-box-shadow:inset 0 0 2px #FFF;
	border:1px solid #E4E4E4;
}
div.categories-list li li li,
div.cat-children li li li{
	background:#FFF;
	box-shadow:inset 0 0 2px #FFF;
	-moz-box-shadow:inset 0 0 2px #FFF;
	-webkit-box-shadow:inset 0 0 2px #FFF;
	border:1px solid #E4E4E4;
}
.items-more {
	background:#EEE;
	box-shadow:inset 0 0 2px #FFF;
	-moz-box-shadow:inset 0 0 2px #FFF;
	-webkit-box-shadow:inset 0 0 2px #FFF;
	border:1px solid #CCC;
}
.items-more h3 {
	border-bottom:1px solid #CCC;
}
fieldset.filters {
	background:#EEE;
	box-shadow:inset 0 0 2px #FFF;
	-moz-box-shadow:inset 0 0 2px #FFF;
	-webkit-box-shadow:inset 0 0 2px #FFF;
	border:1px solid #CCC;
}
table.category {
	background:#EEE;
	box-shadow:inset 0 0 2px #FFF;
	-moz-box-shadow:inset 0 0 2px #FFF;
	-webkit-box-shadow:inset 0 0 2px #FFF;
	border:1px solid #CCC;
}
table.category th {
	border-bottom:1px solid #CCC;
	background:#AF312B;
	color:#FFF;
}
table.category th a {
	color:#FFF;
}
table.category td {
	border-bottom:1px solid #CCC;
}
table.category tr:hover {
	border-bottom:1px solid #CCC;
	background:#FEFEFE;
}
div.panel {
	background:#EEE;
	box-shadow:inset 0 0 2px #FFF;
	-moz-box-shadow:inset 0 0 2px #FFF;
	-webkit-box-shadow:inset 0 0 2px #FFF;
	border:1px solid #CCC;
}
div.newsfeed li {
	background:#EEE;
	box-shadow:inset 0 0 2px #FFF;
	-moz-box-shadow:inset 0 0 2px #FFF;
	-webkit-box-shadow:inset 0 0 2px #FFF;
	border:1px solid #CCC;
}
div.login,
div.logout,
div.registration,
div.remind,
div.reset,
div.profile,
div.profile-edit,
div.edit  {
	background:#EEE;
	box-shadow:inset 0 0 2px #FFF;
	-moz-box-shadow:inset 0 0 2px #FFF;
	-webkit-box-shadow:inset 0 0 2px #FFF;
	border:1px solid #CCC;
}
div.profile fieldset,
div.profile-edit fieldset,
div.registration fieldset,
div.remind fieldset,
div.reset fieldset{
	border:1px solid #CCC;
	background:#F8F8F8;
	box-shadow:inset 0 0 2px #FFF;
	-moz-box-shadow:inset 0 0 2px #FFF;
	-webkit-box-shadow:inset 0 0 2px #FFF;
}
div.profile legend,
div.profile-edit legend,
div.registration legend {
	text-shadow: #fff 0 1px 1px;
	-moz-text-shadow: #fff 0 1px 1px;
	-webkit-text-shadow: #fff 0 1px 1px;	
}
/* Search */
fieldset.word,
div.searchintro,
fieldset.phrases,
fieldset.only {
	background:#EEE;
	box-shadow:inset 0 0 2px #FFF;
	-moz-box-shadow:inset 0 0 2px #FFF;
	-webkit-box-shadow:inset 0 0 2px #FFF;
	border:1px solid #CCC;
}
dl.search-results {
	background:#EEE;
	box-shadow:inset 0 0 2px #FFF;
	-moz-box-shadow:inset 0 0 2px #FFF;
	-webkit-box-shadow:inset 0 0 2px #FFF;
	border:1px solid #CCC;
}
dd.result-text {
	border-bottom:1px solid #CCC;
}
dd.result-created {
	border-bottom:1px solid #CCC;
}
span.highlight {
	background:#FFF58F;
}
.moduletable h3 {
	border-bottom:1px solid #CCC;
}
div.moduletable ul.menu li a{
	background:url(/climbingjordan.com/templates/jubilee/images/arrow.png) no-repeat 0 10px;
	border-bottom:1px dotted #CCC;
}
div.moduletable ul.menu li li a{
	background:#E4E4E4 url(/climbingjordan.com/templates/jubilee/images/arrow.png) no-repeat 5px 10px;
	border:0;
}
div.moduletable ul.menu li li li a{
	background:#EEE url(/climbingjordan.com/templates/jubilee/images/arrow.png) no-repeat 10px 10px;
	border:0;
}
div.moduletable ul.menu li li li li a{
	background:#F8F8F8 url(/climbingjordan.com/templates/jubilee/images/arrow.png) no-repeat 15px 10px;
}
div.moduletable ul.menu li li li li li a{
	background:#FFF url(/climbingjordan.com/templates/jubilee/images/arrow.png) no-repeat 20px 10px;
}
ul.mostread li {
	background:url(/climbingjordan.com/templates/jubilee/images/thumb_up.png) no-repeat 0 4px;
}
ul.latestnews li {
	background:url(/climbingjordan.com/templates/jubilee/images/newspaper.png) no-repeat 0 4px;
}
ul.archive-module li {
	background:url(/climbingjordan.com/templates/jubilee/images/package.png) no-repeat 0 4px;
}
ul.relateditems li {
	background:url(/climbingjordan.com/templates/jubilee/images/arrow_right.png) no-repeat 0 4px;
}
ul.categories-module li {
	border-bottom:1px dotted #CCC;
}
ul.category-module li {
	border-bottom:1px dotted #CCC;
}
ul.latestusers li {
	background:url(/climbingjordan.com/templates/jubilee/images/user_gray.png) no-repeat 0 4px;
}
ul.whosonline li {
	background:url(/climbingjordan.com/templates/jubilee/images/user_green.png) no-repeat 0 4px;
}
#login-form li {
	background:url(/climbingjordan.com/templates/jubilee/images/accept.png) no-repeat 0 4px;
}
ul.newsfeed li {
	border-bottom:1px dotted #CCC;
}
ul.weblinks li {
	background:url(/climbingjordan.com/templates/jubilee/images/world.png) no-repeat 0 4px;
}
dl.stats-module dt {
	background:url(/climbingjordan.com/templates/jubilee/images/chart_pie_alternative.png) no-repeat 0 4px;
}
#SliderName {
	background: #2C201A;
	box-shadow:0 0 10px #2C201A;
	-moz-box-shadow:0 0 10px #2C201A;
	-webkit-box-shadow:0 0 10px #2C201A;
}